{#- Generate print function for a parameter -#}
{% macro print_function(param, module, enums) -%}
static void print_{{ param.name | c_name }}(const struct shell *shell)
{
{% if param.type == 'bytes' %}
	print_bytes(shell, "{{ param.name | settings_key }}", m_{{ module.name }}.{{ param.name | c_name }}, sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% elif param.type == 'string' %}
	shell_print(shell, SETTINGS_PFX " {{ param.name | settings_key }} %s", m_{{ module.name }}.{{ param.name | c_name }});
{% elif param.type == 'bool' %}
	shell_print(shell, SETTINGS_PFX " {{ param.name | settings_key }} %s",
		    m_{{ module.name }}.{{ param.name | c_name }} ? "true" : "false");
{% elif param | is_numeric %}
{% if param | needs_cast %}
	shell_print(shell, SETTINGS_PFX " {{ param.name | settings_key }} {{ param | printf_format }}",
		    {{ param | printf_cast }}m_{{ module.name }}.{{ param.name | c_name }});
{% else %}
	shell_print(shell, SETTINGS_PFX " {{ param.name | settings_key }} {{ param | printf_format }}", m_{{ module.name }}.{{ param.name | c_name }});
{% endif %}
{% elif param.type == 'enum' %}
{% set enum_values = enums[param.enum] %}
	const char *str;
	switch (m_{{ module.name }}.{{ param.name | c_name }}) {
{% for val in enum_values %}
	case {{ module.name | upper }}_{{ param.enum | c_name | upper }}_{{ val.name | upper }}:
		str = "{{ val.shell | default(val.name | lower) }}";
		break;
{% endfor %}
	default:
		str = "unknown";
		break;
	}
	shell_print(shell, SETTINGS_PFX " {{ param.name | settings_key }} %s", str);
{% endif %}
}
{% endmacro %}

{#- Generate command function for a parameter -#}
{% macro cmd_function(param, module, enums) -%}
static int cmd_{{ param.name | c_name }}(const struct shell *shell, size_t argc, char **argv)
{
{% if param.readonly %}
	print_{{ param.name | c_name }}(shell);
	return 0;
{% elif param.type == 'bool' %}
	return cmd_bool(shell, argc, argv, &m_{{ module.name }}.{{ param.name | c_name }}, print_{{ param.name | c_name }});
{% elif param | is_signed and param.extras %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
	{{ param | c_type(module.name) }} a = {{ param | parse_func }}(argv[1], &endptr, 10);

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

{% if param.extras.zero_allowed %}
	if (a != 0 && (a < {{ param | min_value }} || a > {{ param | max_value }})) {
{% else %}
	if (a < {{ param | min_value }} || a > {{ param | max_value }}) {
{% endif %}
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	m_{{ module.name }}.{{ param.name | c_name }} = a;

	return 0;
{% elif param.type == 'int' %}
	return cmd_int(shell, argc, argv, &m_{{ module.name }}.{{ param.name | c_name }}, {{ param | min_value }}, {{ param | max_value }},
		       print_{{ param.name | c_name }});
{% elif param | is_signed %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
{% if param.type == 'int64' %}
	long long value = strtoll(argv[1], &endptr, 10);
{% else %}
	long value = strtol(argv[1], &endptr, 10);
{% endif %}

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (value < {{ param | min_value }} || value > {{ param | max_value }}) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	m_{{ module.name }}.{{ param.name | c_name }} = ({{ param | c_type(module.name) }})value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
{% elif param | is_unsigned and param.extras %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}
{% if param.extras.digits %}

	size_t len = strlen(argv[1]);

	if (len != {{ param.extras.digits }}) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	for (size_t i = 0; i < len; i++) {
		if (!isdigit((int)argv[1][i])) {
			shell_error(shell, "%s", m_msg_invalid_value);
			return -EINVAL;
		}
	}
{% endif %}

	errno = 0;
{% if param.type == 'uint64' %}
	unsigned long long value = {{ param | parse_func }}(argv[1], NULL, 10);
{% else %}
	unsigned long value = {{ param | parse_func }}(argv[1], NULL, 10);
{% endif %}

	if (errno == ERANGE || value > {{ param | max_value }}) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	m_{{ module.name }}.{{ param.name | c_name }} = ({{ param | c_type(module.name) }})value;

	return 0;
{% elif param.type == 'uint' %}
	return cmd_uint(shell, argc, argv, &m_{{ module.name }}.{{ param.name | c_name }}, {{ param | min_value }}, {{ param | max_value }},
			print_{{ param.name | c_name }});
{% elif param | is_unsigned %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	if (argv[1][0] == '-') {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	char *endptr;

	errno = 0;
{% if param.type == 'uint64' %}
	unsigned long long value = strtoull(argv[1], &endptr, 10);
{% else %}
	unsigned long value = strtoul(argv[1], &endptr, 10);
{% endif %}

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	/* errno==ERANGE catches strtoul saturating an out-of-range input to
	 * ULONG_MAX on 32-bit (e.g. a giant nonce-counter), which would otherwise
	 * slip past the max check when max is itself UINT32_MAX. */
	if (errno == ERANGE || value < {{ param | min_value }} || value > {{ param | max_value }}) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	m_{{ module.name }}.{{ param.name | c_name }} = ({{ param | c_type(module.name) }})value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
{% elif param.type == 'float' %}
	return cmd_float(shell, argc, argv, &m_{{ module.name }}.{{ param.name | c_name }}, {{ param | min_value }}f,
			 {{ param | max_value }}f, print_{{ param.name | c_name }});
{% elif param.type == 'double' %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
	double value = strtod(argv[1], &endptr);

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (value < {{ param | min_value }} || value > {{ param | max_value }}) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	m_{{ module.name }}.{{ param.name | c_name }} = value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
{% elif param.type == 'string' %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	size_t len = strlen(argv[1]);

{% if param.minlen is defined %}
	if (len < {{ param.minlen }}) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

{% endif %}
	if (len >= sizeof(m_{{ module.name }}.{{ param.name | c_name }})) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	strncpy(m_{{ module.name }}.{{ param.name | c_name }}, argv[1], sizeof(m_{{ module.name }}.{{ param.name | c_name }}) - 1);
	m_{{ module.name }}.{{ param.name | c_name }}[sizeof(m_{{ module.name }}.{{ param.name | c_name }}) - 1] = '\0';

	return 0;
{% elif param.type == 'bytes' %}
	return cmd_bytes(shell, argc, argv, m_{{ module.name }}.{{ param.name | c_name }}, sizeof(m_{{ module.name }}.{{ param.name | c_name }}), {{ 'true' if param.write_once | default(false) else 'false' }}, print_{{ param.name | c_name }});
{% elif param.type == 'enum' %}
{% set enum_values = enums[param.enum] %}
{% set ns = namespace(tokens=[]) %}
{% for val in enum_values %}{% set ns.tokens = ns.tokens + [val.shell | default(val.name | lower)] %}{% endfor %}
	if (argc == 1) {
		print_{{ param.name | c_name }}(shell);
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	/* `help`/`?` lists the accepted tokens. */
	if (!strcmp(argv[1], "help") || !strcmp(argv[1], "?")) {
		shell_print(shell, "valid values: {{ ns.tokens | join(', ') }}");
		return 0;
	}

{% for val in enum_values %}
{% if loop.first %}
	if (!strcmp(argv[1], "{{ val.shell | default(val.name | lower) }}")) {
{% else %}
	} else if (!strcmp(argv[1], "{{ val.shell | default(val.name | lower) }}")) {
{% endif %}
		m_{{ module.name }}.{{ param.name | c_name }} = {{ module.name | upper }}_{{ param.enum | c_name | upper }}_{{ val.name | upper }};
{% endfor %}
	} else {
		shell_error(shell, "%s", m_msg_invalid_value);
		shell_print(shell, "valid values: {{ ns.tokens | join(', ') }}");
		return -EINVAL;
	}

	return 0;
{% endif %}
}
{% endmacro %}
/* WARNING: This file is auto-generated by `west configen`. Do not modify manually. */

/*
 * Copyright (c) 2025 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "{{ module.name }}.h"

/* Zephyr includes */
#include <zephyr/init.h>
#include <zephyr/kernel.h>
#include <zephyr/logging/log.h>
#include <zephyr/settings/settings.h>
#include <zephyr/shell/shell.h>

/* Standard includes */
#include <ctype.h>
#include <errno.h>
#include <float.h>
#include <limits.h>
#include <stdbool.h>
#include <stddef.h>
#include <stdint.h>
#include <stdlib.h>
#include <string.h>

LOG_MODULE_REGISTER({{ module.log_module | default(module.name) }}, LOG_LEVEL_DBG);

#define SETTINGS_PFX "{{ module.settings_prefix | default(module.name | replace('_', '-')) }}"

struct {{ module.name }} g_{{ module.name }};

{% if module.version is defined %}
static const struct {{ module.name }} m_{{ module.name }}_defaults = {
	.config_version = {{ module.name | upper }}_VERSION,
{% for param in parameters if param.default is defined %}
	.{{ param.name | c_name }} = {{ param | default_value(module.name) }},
{% endfor %}
};

/* Set by h_commit when a schema version migration ran; init persists the
 * migrated config so the stored version is bumped exactly once. */
static bool m_{{ module.name }}_migrated;

{% endif %}
static struct {{ module.name }} m_{{ module.name }} = {
{% if module.version is defined %}
	.config_version = {{ module.name | upper }}_VERSION,
{% endif %}
{% for param in parameters if param.default is defined %}
	.{{ param.name | c_name }} = {{ param | default_value(module.name) }},
{% endfor %}
};

static int h_set(const char *key, size_t len, settings_read_cb read_cb, void *cb_arg)
{
	int ret;
	const char *next;

#define SETTINGS_SET(_key, _var, _size)                                                            \
	do {                                                                                       \
		if (settings_name_steq(key, _key, &next) && !next) {                               \
			if (len != _size) {                                                        \
				return -EINVAL;                                                    \
			}                                                                          \
                                                                                                   \
			ret = read_cb(cb_arg, _var, len);                                          \
                                                                                                   \
			if (ret < 0) {                                                             \
				LOG_ERR("Call `read_cb` failed: %d", ret);                         \
				return ret;                                                        \
			}                                                                          \
                                                                                                   \
			return 0;                                                                  \
		}                                                                                  \
	} while (0)

{% if module.version is defined %}
	SETTINGS_SET("config-version", &m_{{ module.name }}.config_version,
		     sizeof(m_{{ module.name }}.config_version));
{% endif %}
{% for param in parameters %}
{% if param.type == 'bytes' or param.type == 'string' %}
	SETTINGS_SET("{{ param.name | settings_key }}", m_{{ module.name }}.{{ param.name | c_name }}, sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% else %}
	SETTINGS_SET("{{ param.name | settings_key }}", &m_{{ module.name }}.{{ param.name | c_name }},
		     sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% endif %}
{% endfor %}

#undef SETTINGS_SET

	return -ENOENT;
}

static int h_commit(void)
{
	LOG_DBG("Loaded settings in full");

{% if module.version is defined %}
	if (m_{{ module.name }}.config_version != {{ module.name | upper }}_VERSION) {
		LOG_WRN("Config version mismatch (stored=%u, expected=%u), migrating",
			m_{{ module.name }}.config_version, {{ module.name | upper }}_VERSION);

		/* Reset application parameters to defaults, but carry over factory
		 * identity and network credentials (preserve_on_reset in the
		 * YAML) so a schema bump never un-provisions a field device. */
		struct {{ module.name }} stored = m_{{ module.name }};

		m_{{ module.name }} = m_{{ module.name }}_defaults;
{% for param in parameters if param.preserve_on_reset | default(false) %}
{% if param.type == 'bytes' or param.type == 'string' %}
		memcpy(m_{{ module.name }}.{{ param.name | c_name }}, stored.{{ param.name | c_name }},
		       sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% else %}
		m_{{ module.name }}.{{ param.name | c_name }} = stored.{{ param.name | c_name }};
{% endif %}
{% endfor %}

		m_{{ module.name }}_migrated = true;
	}

{% endif %}
	/* Clamp loaded values into their configured ranges so a corrupted or forged
	 * NVS record can't leave the device in a broken state (e.g. interval=0 ->
	 * K_SECONDS(0), or an out-of-range enum that no code path expects). */
{% for param in parameters %}
{% if param.type == 'enum' %}
	if ((int)m_{{ module.name }}.{{ param.name | c_name }} < 0 ||
	    (int)m_{{ module.name }}.{{ param.name | c_name }} > {{ (enums[param.enum] | length) - 1 }}) {
		m_{{ module.name }}.{{ param.name | c_name }} = {{ param | default_value(module.name) or 0 }};
	}
{% elif (param.min is defined or param.max is defined) and (param | is_numeric) %}
{% set sfx = 'f' if (param | is_float) else '' %}
	if (m_{{ module.name }}.{{ param.name | c_name }} < {{ param | min_value }}{{ sfx }}{% if param.extras and param.extras.zero_allowed %} && m_{{ module.name }}.{{ param.name | c_name }} != 0{% endif %}) {
		m_{{ module.name }}.{{ param.name | c_name }} = {{ param | min_value }}{{ sfx }};
	}
	if (m_{{ module.name }}.{{ param.name | c_name }} > {{ param | max_value }}{{ sfx }}) {
		m_{{ module.name }}.{{ param.name | c_name }} = {{ param | max_value }}{{ sfx }};
	}
{% endif %}
{% endfor %}

	memcpy(&g_{{ module.name }}, &m_{{ module.name }}, sizeof(g_{{ module.name }}));
	return 0;
}

static int h_export(int (*export_func)(const char *name, const void *val, size_t val_len))
{
#define EXPORT_FUNC(_key, _var, _size)                                                             \
	do {                                                                                       \
		(void)export_func(SETTINGS_PFX "/" _key, _var, _size);                             \
	} while (0)

{% for param in parameters %}
{% if param.type == 'bytes' or param.type == 'string' %}
	EXPORT_FUNC("{{ param.name | settings_key }}", m_{{ module.name }}.{{ param.name | c_name }}, sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% else %}
	EXPORT_FUNC("{{ param.name | settings_key }}", &m_{{ module.name }}.{{ param.name | c_name }},
		    sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% endif %}
{% endfor %}
{% if module.version is defined %}
	/* Export config-version LAST: settings_save is per-key atomic, so writing
	 * the schema marker after every value means a brownout mid-save leaves an
	 * old version with a partial new payload rather than a new version flagging
	 * data as fully migrated. Paired with the migration restore in h_commit. */
	EXPORT_FUNC("config-version", &m_{{ module.name }}.config_version,
		    sizeof(m_{{ module.name }}.config_version));
{% endif %}

#undef EXPORT_FUNC

	return 0;
}

#if defined(CONFIG_SHELL)

static const char m_msg_invalid_args[] = "invalid number of arguments";
static const char m_msg_invalid_range[] = "invalid argument range";
static const char m_msg_invalid_value[] = "invalid argument value";
static const char m_msg_cmd_success[] = "command succeeded";

typedef void (*print_func_t)(const struct shell *shell);

{% set needs_cmd_bool = parameters | selectattr('type', 'equalto', 'bool') | rejectattr('readonly', 'defined') | list | length > 0 %}
{% set needs_cmd_int = parameters | selectattr('type', 'equalto', 'int') | rejectattr('readonly', 'defined') | rejectattr('extras', 'defined') | list | length > 0 %}
{% set needs_cmd_uint = parameters | selectattr('type', 'equalto', 'uint') | rejectattr('readonly', 'defined') | rejectattr('extras', 'defined') | list | length > 0 %}
{% set needs_cmd_float = parameters | selectattr('type', 'equalto', 'float') | rejectattr('readonly', 'defined') | list | length > 0 %}
{% set needs_print_bytes = parameters | selectattr('type', 'equalto', 'bytes') | list | length > 0 %}
{% set needs_cmd_bytes = parameters | selectattr('type', 'equalto', 'bytes') | rejectattr('readonly', 'defined') | list | length > 0 %}
{% if needs_print_bytes %}
/* Largest shell-settable byte field is 16 B (the LoRaWAN keys); the guard keeps
 * the fixed scratch safe should a longer field ever be added. */
#define CMD_BYTES_MAX 32

static void print_bytes(const struct shell *shell, const char *key, const uint8_t *value,
			size_t size)
{
	char buf[2 * CMD_BYTES_MAX + 1];

	if (size > CMD_BYTES_MAX) {
		return;
	}

	int ret = bin2hex(value, size, buf, sizeof(buf));
	if (!ret) {
		LOG_ERR("Call `bin2hex` failed: %d", ret);
		return;
	}

	shell_print(shell, SETTINGS_PFX " %s %s", key, buf);
}

{% endif %}
{% if needs_cmd_bytes %}
static int cmd_bytes(const struct shell *shell, size_t argc, char **argv, uint8_t *value,
		     size_t size, bool write_once, print_func_t print_func)
{
	if (argc == 1) {
		if (print_func) {
			print_func(shell);
		}
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	if (size > CMD_BYTES_MAX || strlen(argv[1]) != 2 * size) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	/* Decode into a temp buffer first. hex2bin writes byte-by-byte straight
	 * into the destination and bails (returning 0) on the first invalid nibble,
	 * so decoding into the config would leave a half-overwritten key that a
	 * later `save` would persist. Commit only on a fully valid decode. */
	uint8_t tmp[CMD_BYTES_MAX];

	int ret = hex2bin(argv[1], strlen(argv[1]), tmp, size);
	if (ret != (int)size) {
		LOG_ERR("Call `hex2bin` failed: %d", ret);
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (write_once) {
		/* write-once (#170): refuse to overwrite a value that is already set. The
		 * all-zero state is the "unset" sentinel; once any byte is non-zero the
		 * field is locked (commission once, then immutable). */
		for (size_t i = 0; i < size; i++) {
			if (value[i] != 0) {
				shell_error(shell, "%s already set (immutable)", argv[0]);
				return -EACCES;
			}
		}
	}

	memcpy(value, tmp, size);

	return 0;
}

{% endif %}
{% if needs_cmd_bool %}
static int cmd_bool(const struct shell *shell, size_t argc, char **argv, bool *param,
		    print_func_t print_func)
{
	if (argc == 1) {
		if (print_func) {
			print_func(shell);
		}
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	if (!strcmp(argv[1], "true")) {
		*param = true;
	} else if (!strcmp(argv[1], "false")) {
		*param = false;
	} else {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
}

{% endif %}
{% if needs_cmd_int %}
static int cmd_int(const struct shell *shell, size_t argc, char **argv, int *param, int min,
		   int max, print_func_t print_func)
{
	if (argc == 1) {
		if (print_func) {
			print_func(shell);
		}
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
	long value = strtol(argv[1], &endptr, 10);

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (value < min || value > max) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	*param = (int)value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
}

{% endif %}
{% if needs_cmd_uint %}
static int cmd_uint(const struct shell *shell, size_t argc, char **argv, unsigned int *param,
		    unsigned int min, unsigned int max, print_func_t print_func)
{
	if (argc == 1) {
		if (print_func) {
			print_func(shell);
		}
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
	unsigned long value = strtoul(argv[1], &endptr, 10);

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (value < min || value > max) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	*param = (unsigned int)value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
}

{% endif %}
{% if needs_cmd_float %}
static int cmd_float(const struct shell *shell, size_t argc, char **argv, float *param,
		     float min, float max, print_func_t print_func)
{
	if (argc == 1) {
		if (print_func) {
			print_func(shell);
		}
		return 0;
	}

	if (argc != 2) {
		shell_error(shell, "%s", m_msg_invalid_args);
		return -EINVAL;
	}

	char *endptr;
	float value = strtof(argv[1], &endptr);

	if (*endptr != '\0' || endptr == argv[1]) {
		shell_error(shell, "%s", m_msg_invalid_value);
		return -EINVAL;
	}

	if (value < min || value > max) {
		shell_error(shell, "%s", m_msg_invalid_range);
		return -EINVAL;
	}

	*param = value;
	shell_print(shell, "%s", m_msg_cmd_success);
	return 0;
}

{% endif %}

{% for param in parameters if not param.no_shell %}
{{ print_function(param, module, enums) }}
{% endfor %}
static int cmd_show(const struct shell *shell, size_t argc, char **argv)
{
{% for param in parameters if not param.hidden and not param.no_shell %}
	print_{{ param.name | c_name }}(shell);
{% endfor %}

	return 0;
}

{% for param in parameters if not param.no_shell %}
{{ cmd_function(param, module, enums) }}
{% endfor %}
static int print_help(const struct shell *shell, size_t argc, char **argv)
{
	if (argc > 1) {
		shell_error(shell, "command not found: %s", argv[1]);
		shell_help(shell);
		return -EINVAL;
	}

	shell_help(shell);

	return 0;
}

/* clang-format off */

SHELL_STATIC_SUBCMD_SET_CREATE(
	sub_{{ module.shell_command | default(module.name) | c_name }},

	SHELL_CMD_ARG(show, NULL,
	              "Show all configuration.",
	              cmd_show, 1, 0),

{% for param in parameters if not param.no_shell %}
	SHELL_CMD_ARG({{ param.name | settings_key }}, NULL,
	              "{{ param.help | default('Get/Set ' ~ param.name ~ '.') }}",
	              cmd_{{ param.name | c_name }}, 1, 1),

{% endfor %}
	SHELL_SUBCMD_SET_END
);

/* clang-format on */

SHELL_CMD_REGISTER({{ module.shell_command | default(module.name) | replace('-', '') }}, &sub_{{ module.shell_command | default(module.name) | c_name }}, "Configuration commands.", print_help);

#endif /* defined(CONFIG_SHELL) */

struct {{ module.name }} *{{ module.name }}(void)
{
	return &m_{{ module.name }};
}

int {{ module.name }}_factory_reset(void)
{
	int ret;

	/* Reset every parameter to its compiled-in default, but carry over the
	 * factory identity and network credentials (preserve_on_reset in the
	 * YAML) so the reset never un-provisions the device or drops it off the
	 * LoRaWAN network. A full wipe (incl. identity) stays shell-only via
	 * `settings erase`. Mirrors the migration restore in h_commit. */
	struct {{ module.name }} preserved = m_{{ module.name }};

	m_{{ module.name }} = m_{{ module.name }}_defaults;
{% for param in parameters if param.preserve_on_reset | default(false) %}
{% if param.type == 'bytes' or param.type == 'string' %}
	memcpy(m_{{ module.name }}.{{ param.name | c_name }}, preserved.{{ param.name | c_name }},
	       sizeof(m_{{ module.name }}.{{ param.name | c_name }}));
{% else %}
	m_{{ module.name }}.{{ param.name | c_name }} = preserved.{{ param.name | c_name }};
{% endif %}
{% endfor %}

	memcpy(&g_{{ module.name }}, &m_{{ module.name }}, sizeof(g_{{ module.name }}));

	ret = settings_save_subtree(SETTINGS_PFX);
	if (ret) {
		LOG_ERR("Call `settings_save_subtree` failed: %d", ret);
		return ret;
	}

	LOG_INF("Factory reset: config restored to defaults (identity + LoRaWAN kept)");
	return 0;
}

static int {{ module.name }}_init(void)
{
	int ret;

	ret = settings_subsys_init();
	if (ret) {
		LOG_ERR("Call `settings_subsys_init` failed: %d", ret);
		return ret;
	}

	static struct settings_handler sh = {
		.name = SETTINGS_PFX,
		.h_set = h_set,
		.h_commit = h_commit,
		.h_export = h_export,
	};

	ret = settings_register(&sh);
	if (ret) {
		LOG_ERR("Call `settings_register` failed: %d", ret);
		return ret;
	}

	ret = settings_load_subtree(SETTINGS_PFX);
	if (ret) {
		LOG_ERR("Call `settings_load_subtree` failed: %d", ret);
		return ret;
	}

{% if module.version is defined %}
	if (m_{{ module.name }}_migrated) {
		m_{{ module.name }}_migrated = false;

		/* Persist the migrated config right away so the stored schema
		 * version is bumped and the migration does not repeat on every
		 * boot. A failure here is not fatal: the in-RAM config is valid
		 * and the migration simply runs again next boot. */
		ret = settings_save_subtree(SETTINGS_PFX);
		if (ret) {
			LOG_ERR("Call `settings_save_subtree` failed: %d", ret);
		} else {
			LOG_INF("Config migrated to version %u and persisted",
				{{ module.name | upper }}_VERSION);
		}
	}

{% endif %}
	return 0;
}

SYS_INIT({{ module.name }}_init, APPLICATION, {{ module.init_priority | default(0) }});
