name: Build

on:
  push:
    branches: ['**']
    tags: ['v*']
  pull_request:
    branches: ['**']

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ${{ matrix.config }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [debug, release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: sticker
          fetch-depth: 0

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev libusb-1.0-0-dev

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: sticker
          toolchains: arm-zephyr-eabi

      - name: Determine version
        id: version
        working-directory: sticker
        shell: bash
        run: |
          if [[ "$GITHUB_REF" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF#refs/tags/v}"
          else
            VERSION="$(git rev-parse --short HEAD)"
          fi

          echo "value=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Build firmware
        working-directory: sticker/app
        shell: bash
        run: |
          if [ "${{ matrix.config }}" == "debug" ]; then
             ARGS="-DEXTRA_CONF_FILE=debug.conf"
          else
             ARGS=""
          fi

          west build -p always -b sticker -- $ARGS

          mkdir -p ../artifacts

          cp build/zephyr/zephyr.hex \
            ../artifacts/hio-sticker-${{ steps.version.outputs.value }}-${{ matrix.config }}.hex

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: hio-sticker-${{ steps.version.outputs.value }}-${{ matrix.config }}
          path: sticker/artifacts/hio-sticker-${{ steps.version.outputs.value }}-${{ matrix.config }}.hex
          if-no-files-found: error

  release:
    name: Create release
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Determine version
        id: version
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          echo "value=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          pattern: hio-sticker-*
          merge-multiple: true

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: STICKER Firmware v${{ steps.version.outputs.value }}
          files: artifacts/*.hex
